<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SNAPshot Texas</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script data-main="/public/js/main" src="/public/js/lib/require.js"></script>
</head>

<body>
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2><a href="/"><img alt="Texas Food Bank Network" src="/public/images/logoheader.png" /></a></h2>
    </div>
  </div>
</div>
</header>


    <section id="main" class="container">
        <h2>Loading...</h2>
    </section>

<footer>
  <p align="center">&copy; Texas Food Bank Network 2014 &mdash; <a href="http://tfbn.org/about/staff-contact/">Contact Us</a></p>
</footer>

</body>

</html>
