<div class="container">
  <div class="row">
    <div class="col-md-8">
       <h3>SNAPshot Texas</h3>
    </div>
    <form class="col-md-4 form-group" style="text-align:right">
        &nbsp;<br />
        <label for="zipcode">Find zip code:</label>
        <input name="zipcode" id="zipcode" type="text" placeholder="<%- zip %>" />
        <button id="submit-zip" type="submit" class="btn btn-primary btn-xs">Go &raquo;</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3><% if (county && zip) { %><%- county %> - <%- zip %><% } %></h3>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="map"></div>
            <h3>In <%- county %> County&hellip;</h3>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="padding-right:20px; border-right: 1px solid #ccc;">
            Cost of a meal is<br/>
            <span class="h1">$<%- parseFloat(weightedCostPerMeal).toFixed(2) %></span><br />
            <big><strong><%- Math.round((1 - costOfFoodIndex) * 100) %>%</big> <%- costOfFoodIndex < 1 ? 'less' : 'more' %></strong> than the national average.
          </div>
          <div class="col-md-6">
            <span class="h1"><%- individualFoodInsecurityRate %></span>
            of people have experienced <strong>food insecurity</strong> in this county in the last year.</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr />
            <span class="h1"><%- childFoodInsecurityRate %></span> of children in<br />
            in <%- county %> have experienced <strong>food insecurity in the last year</strong>.<br/>
            That's <strong><big><%- foodInsecureChildren %></big> children going hungry</strong>.
          </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" id="constituent-story"></div>
        </div>
        <div class="row">
          <div class="col-md-12 well">
            <p><strong>Share this report</strong></p>
            <p>
                <a href="#"><i class="fa fa-print"></i> Print</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#"><i class="fa fa-envelope"></i> Email</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#"><i class="fa fa-facebook"></i> Facebook</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#"><i class="fa fa-twitter"></i> Twitter</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#"><i class="fa fa-globe"></i> Embed in my website</a>
            </p>
            <p><a href="#"><i class="fa fa-bullhorn"></i> Create a letter to send to my representative</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Resources in <%- county %> County</h3>
            <hr />
            <p><strong><big><a href="http://<%- website %>"><%- foodBank %></a></big></strong><br />
            <%- address %><br />
            <%- phone %><br />
            <a href="http://<%- website %>"><%- website %></a>
            </p>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center">
      <h3>In zipcode <%- zip %>&hellip;</h3>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="text-align:center">
      <p>
        <strong><big><%- totalIncomeEligibleIndividuals %></big> people</strong> are eligible for SNAP benefits.<br />
        Of those eligible, <strong><big><%- incomeEligible0To17 %></big> are children</strong>, 
        <strong><big><%- incomeEligible18To64 %></big> are adults</strong>, and
        <strong><big><%- incomeEligible65Plus %></big> are seniors</strong>.
      <div id="percentages" style="width:100%;height:250px"></div>
    </div>
    <div class="col-md-6" style="text-align:center">
      <p>Only <strong><big><%- Math.round(100*(totalSnapRecipients / totalIncomeEligibleIndividuals)) %>%</big></strong> of eligible people are <strong>actually receiving SNAP benefits</strong>. This means <strong><big><%- totalIncomeEligibleIndividuals - totalSnapRecipients %></big></strong> people are <strong>not participating</strong> in SNAP benefits <strong>when they could be</strong>.</p>
      <div id="percentreceiving" style="width:100%;height:250px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center">
      <p>SNAP only covers <strong><big>$<%- parseFloat(averageBenefitperMeal).toFixed(2) %></big> of the <big>$<%- parseFloat(weightedCostPerMeal).toFixed(2) %></big></strong> necessary for each meal.</p>
      <div id="percentbenefits" style="width:100%;height:250px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center">
      <h3>Demographics of those receiving SNAP benefits&hellip;</h3>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="text-align:center">
      <p><strong><big>Working vs Non-working Households</big></strong></p>
      <div id="percentrcvworking" style="width:100%;height:250px"></div>
    </div>
    <div class="col-md-6" style="text-align:center">
      <p><strong><big>By Age</big></strong></p>
      <div id="percentrcvage" style="width:100%;height:250px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="text-align:center">
      <p><strong><big>By Race</big></strong></p>
      <div id="percentrcvrace" style="width:100%;height:250px"></div>
    </div>
    <div class="col-md-6" style="text-align:center">
      <p><strong><big>By Ethnicity</big></strong></p>
      <div id="percentrcvethnicity" style="width:100%;height:250px"></div>
    </div>
  </div>
</div>
