<div class="container">
  <div class="row">
    <div class="col-md-8">
       <h3>SNAPshot Texas</h3>
    </div>
    <form class="col-md-4 form-group" style="text-align:right" action="/app/details/">
        &nbsp;<br />
        <label for="zipcode">Find zip code:</label>
        <input name="zipcode" id="zipcode" type="text" placeholder="78701" />
        <button id="submit-zip" type="submit" class="btn btn-primary btn-xs">Go &raquo;</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3>About SNAP and SNAPshot Texas</h3>
            <p>Texans strive every day to make a better life for 
            themselves and their kids.<br />But with the rising 
            cost of living, it can be hard to make ends meet<br />
            &mdash; <strong>especially after a job loss, illness or accident.</strong></p>
            <p>We all need an occational helping hand. The 
            Supplemental Nutrition Assistance Program 
            (SNAP) helps Texans get through the rough 
            patches by preventing hunger and providing the 
            fuel and nutrition they need to succeed.</p>
            <p>SNAP builds stronger families, stronger 
            communities and stronger Texans.<br />
            <strong>Just like you and me.</strong></p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3>Get started</h3>
            <p>Learn more about who SNAP serves in an area by entering any Texas zip code above. You can find out 
              what average meals cost, what SNAP covers, plus eligibility and participation statistics.
            </p>
            <hr />
            <h3>Neediest areas of Texas</h3>
            <img src="/public/images/texas_overview.jpg" />
          </div>
        </div>
      </div>
  </div>
</div>

